.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 27%
    right: 17%
    width: 20%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 15%
    width: 12%
  &-3
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 25%
    right: 68%
    width: 15%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.banner-principal__img
  width: 450px !important
  padding-bottom: 0rem !important


// ESTILOS GLOBALES -----------


.tarjeta--azul1
  background-color: #DCFBFF
